body{
	font-family: 'Rokkitt', serif;
	background-color: #e7e4c5;
	color: black;
	text-align: center;
	background-image: url(http://shylas.github.io/images/night.jpg);
}
h1{
	font-family: 'Mallanna', sans-serif;
	color:black;
}
#slogan{
	font-family: 'Rokkitt', serif;
	font-size: 20px;
}

#menu-outer {
	height: 84px;
}

.table {
	display: table;
	margin: 0 auto;
}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	}
	ul#horizontal-list li {
		display: inline;
	}