body{
	font-family: 'Rokkitt', serif;
	background-color: #e7e4c5;
	color: black;
	text-align: center;
	
}
h1{
	font-family: 'Mallanna', sans-serif;
	color:black;
}
#slogan{
	font-family: 'Rokkitt', serif;
	font-size: 20px;
	font-style: italic;
}


