body {
	padding-top: 60px;
	font-size: 1em;
}

#wrapper {
	width: 100%;
	margin: 0 auto;
}


#left-column {
	padding-top: 200px;
	padding-left: 1%;
	padding-right: 1%;
	width: 23%;
	float: left;
}

#right-column {
	width: 73%;
	padding: 1%;
	float: right;
	
	margin-bottom: 0px;
}

#right-column img {
	max-width: 100%;
	display: block;
}

#logo{
	padding: 1%;
}

#logo1 {
	font-family: Oswald, sans-serif;
	font-weight: 400;
	font-size: 1.6em;
	color: #333333;

}

#logo2 {
	font-family: 'Quattrocento Sans', sans-serif;
	font-weight: 400;
	font-size: .8em;
	
	color: #514D57;
}


#nav a {
	text-decoration: none;
	color: #333333;
	font-weight: 700px;
}

#nav a:hover {
	color: #3399CC;
}

#nav ul {
	list-style-type: none;
	font-family: 'Quattrocento Sans', sans-serif;
	font-weight: 400px;
	font-size: 14px;
	color: #666666;
	text-decoration: none;
}

#nav li {
	padding-top: 8px;
}

#portfolios {
	padding-left: 17px;
	font-size: 14px ;
}

footer {
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 12px;
	padding-top: 64px;
}

#about-content {
	line-height: 120%;
	width: 760px;
}

#about-content p {
	margin-top: 10px;
	font-family: 'Quattrocento Sans', sans-serif; 
	font-weight: 300;
	font-size: 14px;
	width: 506px;
	color: #666666;
}

#social-img {
	padding-top: 30px;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }



@media only screen and (max-width: 768px){



	#right-column img {
		
		float: none;
		}

	#left-column{
		padding-top: 100px;
	}

	#nav ul {
	font-size: .8em;
	}



	}

@media only screen and (max-width: 480px) {




	#right-column {
		float: none;
		text-align: center;
		}

	#left-column{
		padding: 1%;
		position: absolute;
	}



	#nav ul {
	font-size: .8em;
	}

	#portfolios {
display: none;
	}

	}

	