body{
font-size: 18px;
font-family: 'Quattrocento Sans', sans-serif;
}

h1{
	display: inline-block;
	font-weight: 500;
	font-size: 2em;
	padding: 2%;
}
span{
	font-size:.5em;
	font-style: italic;
}
h2{
font-size: 1.5em;

}


nav {
	font-size: 1.2em;
 	float: right;

} 

nav a {	
	text-decoration: none;
	color: black;
	margin: 1.8em;
	display: inline-block;
}

#logocontact{
float: left;	
  font-size:14px;
  width:16%;
  padding: 2%;
  display: inline-block;
}

.column2{
	
	padding: 2%;
	
}


#who{
	float: left;
	width:36%;
	
	background: #6B7685;
  color: #fff;
  overflow: auto;
}

#what {
	float: right;
  width: 36%;
  
  background: #6B7685;
  color: #fff;
  overflow: auto;
}
#services{
	float: right;
	display: inline;
	width:80%;
}



.homeimage{
	width: 40%;
	float: right;
}



footer {
	text-align: center;
	padding: 1em 0;
    clear: both;
    font-size: 12px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}